{% extends 'base.html' %}
{% block title%}
{{ title }}
{% endblock %}

{% block content%}
    <h1>Главная страница</h1>
    {% if tasks %}
        {% for l in tasks %}
            <div class="alert alert-warning mt-2">
                <h3>{{l.title}}</h3>
                <p>{{l.task}}</p>
                <p>Дата создания: {{l.created_on}}</p>
                <p>Последнее изменение: {{l.last_modified}}</p>
                {% if l.completed %}
                <p>Выполнение: &#9989; </p>
                {% else %}
                <p>Выполнение: &#9940; </p>
                {% endif %}

            </div>
        {% endfor %}
    {% else %}
        <p>У вас нет невыполненных задач</p>
    {% endif %}
{% endblock %}
